$font-color: #000000;
$secondary-color: rgb(203, 206, 210);
$link-color: blue;
$hover-color: rgb(216, 218, 224);
$border-color: rgb(216, 216, 216);
$hover-buttons-link: rgb(187, 50, 255);
$background-color: white;